@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "PPMori";
  src: url("/font/PPMori-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Aoenik";
  src: url("/font/Aoenik-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PPMori", sans-serif;
}

.overlay {
  /* clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); */
  transform: translateY(100%);
}

.scale-section{
  clip-path: polygon(1% 2%, 99% 2%, 99% 99%, 1% 99%);
  /* transition: clip-path 1s ease-in-out; */
}

.backgroundImg{
  background: url("/images/bmw.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}